<div class="container">

  <h1>Répertoire Clients</h1>

  <!-- Navigation -->
  <div class="row">

    <nav>
      <a  routerLink="/accueil" routerLinkActive="accueil"> Accueil</a> |
      <a  routerLink="/form" routerLinkActive="active"> Ajouter Client</a> |
      <!--<a  routerLink="/detail" routerLinkActive="active"> Aller à Page 2</a>-->
    </nav>
    <br>
    <!-- router outlet ICI -->
    <router-outlet></router-outlet>


  </div><!-- row -->



<!--Details Contacts-->
  <!--<app-detail [cust]="SelectedClient"></app-detail>-->


</div>

