<div class="row">

  <div  class="col-md-6">
    <h4 >Details Client</h4>

    <!--Affichage des details-->
    <div *ngIf="!edit">
      <h2> Détails</h2>
      <ul>
        <li>
          {{client.nom | uppercase}}  , {{client.prenom}}
        </li>
        <li>
          {{client.email}}
        </li>
      </ul>
         </div>

  <!--Modification des details-->
  <!--Modification des details-->
    <div *ngIf="edit">
      <h2>Modification</h2>
      <span class="help-block">Modifier Nom</span>
     <input class="form-control" placeholder="Nom" [(ngModel)]="client.nom">

      <span class="help-block">Modifier Nom</span>
      <input class="form-control" placeholder="Prenom" [(ngModel)]="client.prenom">

      <span class="help-block">Modifier Nom</span>
      <input class="form-control" placeholder="Email" [(ngModel)]="client.email">
    </div>
    <br>
    <div>
      <a href="#" class="btn btn-default pull-right" (click)="ModifierClient()"><span [ngClass]="edit ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-pencil' "></span> {{texteButton}}</a>
      <a href="#" class="btn btn-default pull-right" (click)="SupprimerClient(client.id)"><span class='glyphicon glyphicon-trash' ></span> Supprimer</a>
    </div>


  </div>
</div>
